{{page-title "Which"}}
<h1 class="header">Which?</h1>
<div class="content">
  {{outlet}}
</div>
<div class="footer">
  <div class="hang-left"
    {{named-element "footer-hang-left"}}
  />
  <div class="hang-right"
    {{named-element "footer-hang-right"}}
  />
  <div class="left"
    {{named-element "footer-left"}}
  >
    <BackButton/>
  </div>
  <div class="right"
    {{named-element "footer-right"}}
  >
  </div>
</div>
